{% extends "base.html" %}
{% load static %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <!-- Animacje -->
  <script src="https://unpkg.com/scrollreveal"></script>
{% block title %}Notatki{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Notatka</h1>
        {% for note in notes %}
            <div class="note my-4 p-3 border rounded" id="Notatka">
                    <a href="{{ note.get_absolute_url }}" >
                        <h2>{{ note.title }}</h2>
                    </a>
                <p class="date text-muted">
                     {% if note.status == "wazne" %}
                         Napisana {{ note.publish }}, Autor: {{ note.author }}, Status: <span style = "color: red;">{{ note.status }}</span>
                    {% endif %}


                {% if note.status == "mniejwazne" %}
                     Napisana {{ note.publish }}, Autor: {{ note.author }}, Status: <span style = "color: green;">{{ note.status }}</span>
                    {% endif %}
                </p>
                <p class="note-body">
                    {{ note.body|truncatewords:30|linebreaks }}
                </p>
            </div>
        {% endfor %}
        <nav aria-label="Page navigation">
            {% include "pagination.html" with page=page_obj %}
        </nav>
    </div>

    <script>
    // Scroll-Reveal
    ScrollReveal({
  distance: '60px',
  duration: 2500,
  delay: 400
  });

  // Aktualnosci
  ScrollReveal().reveal('#Notatka', { delay: 200, origin: 'left', interval: 300 });
  updateCounter();

   // Scroll-Reveal
  </script>
{% endblock %}