{% extends "base.html" %}
{% load static %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <!-- Animacje -->
  <script src="https://unpkg.com/scrollreveal"></script>
{% block title %}Notatki{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Notatka</h1>
        {% for note in notes %}
            <div class="note my-4 p-3 border rounded">
                <h2>
                    <a href="{{ note.get_absolute_url }}" class="text-decoration-none text-primary">
                        {{ note.title }}
                    </a>
                </h2>
                <p class="date text-muted">
                    Napisana {{ note.publish }} przez {{ note.author }}
                </p>
                <div class="note-body">
                    {{ note.body|truncatewords:30|linebreaks }}
                </div>
            </div>
        {% endfor %}
        <nav aria-label="Page navigation">
            {% include "pagination.html" with page=page_obj %}
        </nav>
    </div>
{% endblock %}