@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@663&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-weight: 400;
  }

.Notatka-Main{
    display: flex;
    justify-content: center;
    column-gap: 200px;
    margin-top: 100px;
}

.container h1{
    margin-bottom: 25px;
    font-weight: bolder;
}


#Notatka {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    box-shadow: 2px 2px 0 0 rgb(83, 83, 83);
    transition: box-shadow 0.5s ease; /* Add transition for smooth shadow changes */
    height: auto;
    width: auto;
}

#Notatka p{
    width: auto;
    text-align: justify;
}

.row{
    width: auto;
}

#Notatka:hover {
    box-shadow: 4px 4px 0 0 rgb(160, 158, 158, 0.5), /* Adjust shadow on hover */
    6px 6px 0 0 rgb(160, 158, 158, 0.3);
}
#Notatka a{
    text-decoration: none;
    transition: 0.5s;
    color: white;
}

#Notatka a:hover{
    color: gray;
}

#Notatka h2 {
    font-size: large;
    margin-bottom: 7px;
    background-color: black;
    width: 120px;
    border-radius: 5px;
    text-align: justify;
    position: relative;
    right: 40px;
    padding: 5px;
    transition: right 0.5s ease; /* Add transition for smooth movement */

}

#Notatka h2:hover {
    right: 60px; /* Adjust the right property to move left on hover */
    box-shadow: 0 0 10px 10px rgba(192,192,192,0.7),
                0 0 20px 10px rgba(192,192,192,0.5);
}

.text{
    font-weight: bold;
}

.back{
    background-color: rgb(183, 183, 187);
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}
.back h2{
    font-weight: bolder;
}

.create {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;          
    font-weight: bold;  
    box-shadow: 0 0 20px #5366a3;
    display: block;
    border: none;

  }

  .create:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    margin: 20px 0;
}

.pagination a {
    text-decoration: none;
    color: #007bff;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
}
