{{% extends "base.html" %}
{% load static %}
{% block content %}
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!-- Animacje -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Animacje -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="dodaj">Edit</button>
    </form>

{% endblock %}





